.container {
    max-width: 1200px; /* o el ancho deseado */
    margin: 0 auto; /* centrado */
}

.header {
    display: flex;
    justify-content: space-between; /* espacio entre logo y menú */
    align-items: center; /* centrado vertical */
    padding: 20px; /* ajusta según sea necesario */
}

.button {
    background-color: #367FA9; /* color de fondo */
    color: white; /* color del texto */
    padding: 10px 20px; /* espacio interno */
    border: none; /* sin borde */
    border-radius: 5px; /* bordes redondeados */
    cursor: pointer; /* puntero de mano al pasar */
}
